<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Enter text" FormContrlName ="firstName"></ion-input>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="Enter text" FormContrlName="lastName"></ion-input>
  </ion-item>

  <ion-item fill="outline">
    <ion-label position="floating">Nombre Usuario</ion-label>
    <ion-input placeholder="Enter text" FormControlName="userName"></ion-input>
  </ion-item>

  <ion-item fill="outline">
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="Enter text" FormControlName="password"></ion-input>
  </ion-item>

  <ion-item fill="outline">
    <ion-label position="floating">Edad</ion-label>
    <ion-input placeholder="Enter text" FormControlName="age"></ion-input>
  </ion-item>

  <ion-item fill="outline">
    <ion-label position="floating">genero</ion-label>
    <ion-input placeholder="Enter text" FromControlName="gender"></ion-input>
  </ion-item>

</ion-content>
